.about {
    padding-top: var(--top-padding);
}
    .about__intro {
        display: grid;
        grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
        align-items: center;
    }
        .about__heading {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 20px;
        }

        .about__description {
            margin-left: 30px;
            margin-top: 6px;
            font-size: 16px;
            line-height: 26px;
        }


    .about__summary {
        margin-top: 55px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 3fr));
        gap: 71px;
    }
        .about__feature {
            position: relative;
            padding-top: 6px;
            padding-bottom: 13px;
        }

        .about__feature::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -36px;
            width: 1px;
            background-color: #D1D1D1;
        }

        .about__feature:first-child::before {
            display: none;
        }
            .about__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
            }

            .about__entry {
                margin-top: 18px;
                margin-bottom: 0;
                font-size: 15px;
                line-height: 25px;
            }



@media (1850px <= width) {

    .about {

    }
        .about__intro {

        }
            .about__heading {

            }

            .about__description {
                margin-left: 45px;
                margin-right: 20px;
                font-size: 18px;
                line-height: 30px;
            }


        .about__summary {
            margin-top: 74px;
            gap: 101px;
        }
            .about__feature {
                padding-top: 10px;
                padding-bottom: 18px;
            }
                .about__feature::before {
                    left: -51px;
                }

            .about__separator {

            }

                .about__sub-heading {

                }

                .about__entry {
                    margin-top: 24px;
                    font-size: 16px;
                    line-height: 30px;
                }
}



@media (width < 740px) {

    .about {

    }
        .about__intro {
            display: block;
        }
            .about__heading {
                margin-right: 0;
            }

            .about__description {
                margin-left: 0;
                margin-top: 20px;
            }


        .about__summary {
            margin-top: 40px;
            border-top: 1px solid #D1D1D1;
            padding-top: 40px;
            display: block;
        }
            .about__feature {
                margin-top: 32px;
                padding-top: 0;
                padding-bottom: 0;
            }

            .about__feature:first-child {
                margin-top: 0;
            }

            .about__feature::before {
                display: none;
            }

            .about__feature:first-child::before {

            }
                .about__sub-heading {

                }

                .about__entry {

                }
}

