.accordion {
    display: flex;
    align-items: flex-start;
    --accordion-h-padding: 18px;
    --right-padding-under-icon: 46px;
    gap: 80px;
}
    .accordion__desktop-preview {
        flex-shrink: 0;
        position: relative;
        width: 405px;
        height: 360px;
    }
        .accordion__slide {
            position: absolute;
            inset: 0;
        }
            .accordion__image {
                vertical-align: top;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

    .accordion__body {
        flex-grow: 1;
    }
        .accordion__item {
            margin-top: -1px;
            box-shadow: inset 0 1px 0 #000000,
                        inset 0 -1px 0 #000000;
        }
            .accordion__handler {
                position: relative;
                padding-top: 33px;
                padding-bottom: 35px;
                padding-left: var(--accordion-h-padding);
                padding-right: calc(var(--accordion-h-padding) + var(--right-padding-under-icon));
                margin-left: calc(-1 * var(--accordion-h-padding));
                margin-right: calc(-1 * var(--accordion-h-padding));
                width: calc(100% + 2 * var(--accordion-h-padding));
                background-color: transparent;
                border: none;
                font-size: 22px;
                line-height: 28px;
                text-align: left;
                cursor: pointer;
            }
                /* hover */
                .accordion__handler::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    inset: 10px 0;
                    border-radius: 9px;
                    transition: background-color var(--transition-hover);
                }

                .accordion__handler:hover::before {
                    background-color: rgb(232 232 232 / 30%);
                }

                /* plus */
                .accordion__handler::after {
                    content: "";
                    position: absolute;
                    right: var(--accordion-h-padding);
                    top: 50%;
                    margin-top: -14px;
                    width: 28px;
                    height: 28px;
                    background-color: #E8E8E8;
                    background-image: url("../vectors/add.svg");
                    background-size: 22px 22px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 6px;
                }

            .accordion__dropdown {
                margin-top: -8px;
                padding-bottom: 36px;
                padding-right: var(--right-padding-under-icon);
                color: #575757;
            }
                .accordion__mobile-preview {
                    display: none;
                }


.accordion__item--expanded {

}
    .accordion__item--expanded .accordion__handler {
        color: var(--blue);
    }
        .accordion__item--expanded .accordion__handler::after {
            background-image: url("../vectors/remove.svg");
        }

    .accordion__item--expanded .accordion__dropdown {

    }



@media (1850px <= width) {

    .accordion {
        --accordion-h-padding: 24px;
        --right-padding-under-icon: 54px;
        gap: 164px;
    }
        .accordion__desktop-preview {
            width: 540px;
            height: 480px;
        }
            .accordion__slide {

            }
                .accordion__image {

                }

        .accordion__body {

        }
            .accordion__item {

            }

            .accordion__item:first-child {

            }
                .accordion__handler {
                    padding-top: 44px;
                    padding-bottom: 47px;
                    font-size: 24px;
                    line-height: 32px;
                }
                    /* hover */
                    .accordion__handler::before {
                        top: 12px;
                        bottom: 12px;
                        border-radius: 12px;
                    }

                    .accordion__handler:hover::before {

                    }

                    /* plus */
                    .accordion__handler::after {
                        margin-top: -16px;
                        width: 32px;
                        height: 32px;
                        background-size: 24px 24px;
                        border-radius: 7px;
                    }

                .accordion__dropdown {
                    margin-top: -10px;
                    padding-bottom: 50px;
                }
                    .accordion__mobile-preview {

                    }
}



@media (width < 740px) {

    .accordion {
        display: block;
    }
        .accordion__desktop-preview {
            display: none;
        }
            .accordion__slide {

            }
                .accordion__image {

                }

        .accordion__body {

        }
            .accordion__item {

            }

            .accordion__item:first-child {

            }
                .accordion__handler {
                    margin: 0;
                    padding: 20px 40px 20px 0;
                    width: 100%;
                    font-size: 20px;
                    line-height: 26px;
                }
                    /* hover */
                    .accordion__handler::before {
                        display: none;
                    }

                    .accordion__handler:hover::before {

                    }

                    /* plus */
                    .accordion__handler::after {
                        right: 0;
                    }

                .accordion__dropdown {
                    padding-right: 0;
                }
                    .accordion__mobile-preview {
                        display: block;
                        margin-top: 18px;
                    }
                        .accordion__mobile-image {
                            width: 100%;
                            height: auto;
                            vertical-align: top;
                        }
}



/* Code above is common to all accordions.
   Code below is specific to unique accordions.
 */


.accordion--steps {

}
    @media (740px <= width) {
        .accordion--steps .accordion__item--expanded .accordion__handler {
            cursor: default;
        }

        .accordion--steps .accordion__item--expanded .accordion__handler:hover::before {
            background-color: transparent;
        }
    }



.accordion--faq {

}
    @media (740px <= width) {

        .accordion--faq .accordion__body {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0 30px;
        }
    }

    @media (1850px <= width) {

        .accordion--faq .accordion__body {
            gap: 0 42px;
        }
    }
