.button {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 13px 28px;
    min-width: 100px;
    background-color: var(--blue);
    border-radius: 25px;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-hover);
}

.button:hover {
    background-color: var(--blue-hover);
}


.button:active {
    translate: 0 1px;
    transition: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: #F6F6F6;
    color: var(--disabled-color);
    translate: none;
    cursor: default;
}

.button--secondary {
    background-color: var(--pink);
}

.button--secondary:hover {
    background-color: var(--pink-hover);
}


.button--larger {
    padding: 17px 32px;
    font-size: 18px;
    line-height: 26px;
    border-radius: 30px;
}
