.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    vertical-align: top;
    border: none;
    padding: 10px 22px;
    min-width: 100px;
    background-color: var(--blue);
    border-radius: 21px;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-hover);
}

.button:hover {
    background-color: var(--blue-hover);
}

.button:active {
    translate: 0 1px;
    transition: none;
}
    .button__icon {
        line-height: 0;
    }

    .button__icon:first-child {
        margin-left: -2px;
    }

    .button__icon:last-child {
        margin-right: -2px;
    }
        .button__icon.icon,
        .button__icon .icon {
            font-size: 20px;
            font-weight: 400;
        }


@media (1850px <= width) {

    .button {
        gap: 10px;
        padding: 13px 28px;
        font-size: 16px;
        line-height: 24px;
        border-radius: 25px;
    }
        .button__icon:first-child {
            margin-left: -6px;
        }

        .button__icon:last-child {
            margin-left: -6px;
        }

        .button__icon.icon,
        .button__icon .icon {
            font-size: 22px;
        }
}


.button--larger {
    gap: 10px;
    padding: 13px 28px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 25px;
}
    .button--larger .button__icon {
        font-size: 22px;
    }

    .button--larger .button__icon:first-child {
        margin-left: -6px;
    }

    .button--larger .button__icon:last-child {
        margin-left: -6px;
    }


@media (1850px <= width) {

    .button--larger {
        gap: 12px;
        padding: 17px 32px;
        font-size: 18px;
        line-height: 26px;
        border-radius: 30px;
    }
        .button--larger .button__icon {
            font-size: 24px;
        }

        .button--larger .button__icon:first-child {
            margin-left: -8px;
        }

        .button--larger .button__icon:last-child {
            margin-left: -8px;
        }
}



.button--smaller {
    padding: 7px 30px;
    font-size: 15px;
    line-height: 22px;
    border-radius: 20px;
}

@media (1850px <= width) {

    .button--smaller {
        padding: 8px 36px;
        font-size: 16px;
        line-height: 24px;
        border-radius: 20px;
    }
}



.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: #F6F6F6;
    color: var(--disabled-color);
    translate: none;
    cursor: default;
}

.button--secondary {
    background-color: var(--pink);
}

.button--secondary:hover {
    background-color: var(--pink-hover);
}


.button--grey-outline {
    box-shadow: inset 0 0 0 1px #2D2D2D;
    background-color: transparent;
    color: #2d2d2d;
}

.button--grey-outline:hover {
    /*box-shadow: inset 0 0 0 1px #2D2D2D;*/
    background-color: rgb(45 45 45 / 5%);
    color: #2d2d2d;
}


.button--black {
    background-color: #120421;
    color: #FFFFFF;
}

.button--black:hover {
    background-color: #47434b;
}

.button--grey {
    background-color: #EFEFEF;
    color: #2d2d2d;
}

.button--grey:hover {
    background-color: #F5F5F5;
}
