.contains {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: #130221;
}
    .contains__wrap {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
        .contains__section {
            position: relative;
            padding-left: 70px;
        }
            .contains__section::before {
                content: "";
                position: absolute;
                top: 70px;
                bottom: 0;
                left: 0;
                width: 1px;
                background-color: #655373;
            }

            .contains__section:first-child::before {
                display: none;
            }

            .contains__heading {
                margin-top: 0;
                margin-bottom: 0;
                color: #e3e3e3;
            }

            .contains__list {
                margin-top: 40px;
                margin-bottom: 0;
                padding-left: 0;
                padding-right: 50px;
                list-style: none;
            }
                .contains__item {
                    margin-top: 32px;
                    min-height: 30px;
                    position: relative;
                    padding-left: 40px;
                    font-size: 15px;
                    line-height: 22px;
                    color: #f2f2f2;
                }

                .contains__item:first-child {
                    margin-top: 0;
                }
                    .contains__item::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: -1px;
                        width: 26px;
                        height: 26px;
                        display: block;
                        background-image: url("../vectors/check_circle-white.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }



@media (1850px <= width) {

    .contains {
        padding-top: 87px;
        padding-bottom: 120px;
    }
        .contains__wrap {

        }
            .contains__section {
                padding-left: 110px;
            }
                .contains__section::before {
                    top: 100px;
                }

                .contains__section:first-child::before {

                }

                .contains__heading {

                }

                .contains__list {
                    margin-top: 56px;
                    padding-right: 77px;
                }
                    .contains__item {
                        margin-top: 40px;
                        min-height: 34px;
                        padding-left: 44px;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .contains__item:first-child {

                    }
                        .contains__item::before {
                            top: -2px;
                            width: 30px;
                            height: 30px;
                        }
}



@media (width < 740px) {

    .contains {
        /*padding-top: 60px;*/
        /*padding-bottom: 80px;*/
        /*background-color: #130221;*/
    }
        .contains__wrap {
            display: block;
            /*grid-template-columns: repeat(2, minmax(0, 1fr));*/
        }
            .contains__section {
                margin-top: 60px;
                /*position: relative;*/
                padding-left: 0;
            }

            .contains__section:first-child {
                margin-top: 0;
            }
                .contains__section::before {
                    display: none;
                }

                .contains__heading {
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    /*color: #e3e3e3;*/
                }

                .contains__list {
                    /*margin-top: 40px;*/
                    /*margin-bottom: 0;*/
                    /*padding-left: 0;*/
                    /*padding-right: 50px;*/
                    /*list-style: none;*/
                }
                    .contains__item {
                        /*margin-top: 32px;*/
                        /*min-height: 30px;*/
                        /*position: relative;*/
                        /*padding-left: 40px;*/
                        /*font-size: 15px;*/
                        /*line-height: 22px;*/
                        /*color: #f2f2f2;*/
                    }

                    .contains__item:first-child {
                        /*margin-top: 0;*/
                    }
                        .contains__item::before {
                            /*content: "";*/
                            /*position: absolute;*/
                            /*left: 0;*/
                            /*top: -1px;*/
                            /*width: 26px;*/
                            /*height: 26px;*/
                            /*display: block;*/
                            /*background-image: url("../vectors/check_circle-white.svg");*/
                            /*background-size: contain;*/
                            /*background-repeat: no-repeat;*/
                            /*background-position: center center;*/
                        }
}

