.contains {
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: #130221;
}
    .contains__wrap {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
        .contains__section {
            padding-left: 77px;
        }
            .contains__section::before {
                content: "";
                position: absolute;
                top: 100px;
                bottom: 0;
                left: 0;
                width: 1px;
                background-color: #655373;
            }

            .contains__heading {
                color: #e3e3e3;
            }

            .contains__list {
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 0;
                list-style: none;
            }
                .contains__item {
                    font-size: 16px;
                    line-height: 24px;
                    color: #f2f2f2;
                }
