.faq {
    padding-top: 54px;
    padding-bottom: 78px;
}
    .faq__wrap {

    }
        .faq__head {
            position: relative;
        }
            .faq__inner {
                max-width: 760px;
            }

            .faq__heading {
                margin-top: 0;
                margin-bottom: 0;
            }

            .faq__description {
                margin-top: 18px;
                font-size: var(--body-font-size);
                line-height: var(--body-line-height);
            }

            .faq__answers {
                margin-top: 18px;
            }

            .faq__request {
                position: absolute;
                right: 0;
                top: 36px;
            }

        .faq__body {
            margin-top: 42px;
        }



@media (1850px <= width) {

    .faq {
        padding-top: 70px;
        padding-bottom: 104px;
    }
        .faq__wrap {

        }
            .faq__head {

            }
                .faq__inner {
                    max-width: 850px;
                }

                .faq__heading {

                }

                .faq__description {
                    margin-top: 24px;
                    line-height: var(--body-line-height);
                }

                .faq__answers {
                    margin-top: 24px;
                }

                .faq__request {
                    top: 48px;
                }

            .faq__body {
                margin-top: 42px;
            }
}



@media (width < 740px) {

    .faq {

    }
        .faq__wrap {

        }
            .faq__head {

            }
                .faq__inner {

                }

                .faq__heading {

                }

                .faq__description {

                }

                .faq__answers {
                    display: none;
                }

                .faq__request {
                    margin-top: 24px;
                    position: static;
                }

            .faq__body {

            }
}



.faq--with-background {
    background-color: #F2F2F2;
}
