@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/dm-sans-v16-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/dm-sans-v16-latin-italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/dm-sans-v16-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/dm-sans-v16-latin-700.woff2") format("woff2");
}


@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url("../fonts/font.woff2") format("woff2");
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
