.form {

}
    .form__field {
        margin-top: 20px;
    }

    .form__field:first-child {
        margin-top: 0;
    }

    .form__field--split {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
    }

    .form__submit {
        margin-top: 24px;
    }
        .form__submit.button,
        .form__submit .button {
            width: 100%;
        }




@media (1850px <= width) {

    .form {

    }
        .form__field {
            margin-top: 28px;
        }

        .form__field:first-child {

        }

        .form__field--split {
            gap: 28px;
        }

        .form__submit {
            margin-top: 28px;
        }
            .form__submit.button,
            .form__submit .button {

            }
}
