.form {

}
    .form__field {
        margin-top: 24px;
    }

    .form__field:first-child {
        margin-top: 0;
    }

    .form__submit {
        margin-top: 24px;
    }
        .form__submit.button,
        .form__submit .button {
            width: 100%;
        }
