.how {
    padding-top: 60px;
}
    .how__heading {
        margin: 0 auto;
        width: 770px;
        text-align: center;
    }

    .how__description {
        width: 840px;
        margin: 14px auto 0;
        font-size: var(--body-font-size);
        line-height: var(--body-line-height);
        text-align: center;
    }

    .how__body {
        margin-top: 80px;
    }

    .how__footer {
        margin-top: 40px;
        margin-left: 485px;
        display: flex;
        align-items: center;
        gap: 16px;
    }
        .how__submit {
            flex-shrink: 0;
        }

        .how__icon {
            margin-left: 3px;
            line-height: 0;
            flex-shrink: 0;
            color: #000000;
        }
            .how__icon.icon,
            .how__icon .icon {
                font-size: 18px;
            }

        .how__starting-message {

        }
            .how__note {
                margin-top: 5px;
                font-size: 15px;
                line-height: 22px;
                color: #2f2f2f;
            }

            .how__note:first-child {
                margin-top: 0;
            }



@media (1850px <= width) {

    .how {
        padding-top: 95px;
    }
        .how__heading {
            width: 1100px;
        }

        .how__description {
            width: 940px;
            margin-top: 18px;
        }

        .how__body {
            margin-top: 143px;
        }

        .how__footer {
            margin-top: 51px;
            margin-left: 704px;
            gap: 20px;
        }
            .how__submit {

            }

            .how__icon {
                margin-left: 4px;
            }
                .how__icon.icon,
                .how__icon .icon {
                    font-size: 20px;
                }

            .how__starting-message {

            }
                .how__note {
                    margin-top: 6px;
                    font-size: 16px;
                    line-height: 24px;
                }

                .how__note:first-child {
                    margin-top: 0;
                }
}
