.info {
    padding-top: 96px;
    padding-bottom: 96px;
}
    .info__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .info__description {
        max-width: 890px;
        margin-top: 13px;
        margin-left: auto;
        margin-right: auto;
        font-size: var(--body-font-size);
        line-height: var(--body-line-height);
        text-align: center;
    }

    .info__table-of-contains {
        margin-top: 50px;
        padding: 40px 50px 30px;
        background-color: #FAF6F5;
        background-image: linear-gradient(45deg, #f0e7fd, #f8f8f6 33%, #fdeef3);
        border-radius: 30px;
        column-count: 3;
        column-gap: 84px;
    }
        .info__contains-section {
            padding-top: 24px;
            padding-bottom: 24px;
            break-inside: avoid;
        }
            .info__contains-heading {
                margin-top: 0;
                margin-bottom: 0;
                display: block;
                color: #2d2d2d;
            }

            .info__contains-list {
                margin-top: 22px;
            }
                .info__contains-question {
                    display: block;
                    padding-left: 27px;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    background-image: url("../vectors/help.svg");
                    background-size: 18px 18px;
                    background-repeat: no-repeat;
                    background-position: left 11px;
                    font-size: 18px;
                    line-height: 21px;
                    color: var(--blue);
                    text-decoration: 1.25px underline transparent;
                    text-underline-offset: 3px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .info__contains-question:hover {
                    text-decoration-color: currentColor;
                }

    .info__body {
        margin-top: 30px;
    }
        .info__section {

        }
            .info__section-heading {
                margin-top: 0;
                margin-bottom: 0;
            }

            .info__section-list {

            }
                .info__item {
                    margin-top: 30px;
                    border-top: 1px solid #E4E4E4;
                    padding-top: 30px;
                }

                .info__item:first-child {
                    margin-top: 0;
                    border-top: none;
                    padding-top: 0;
                }

                    .info__question {
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: var(--body-font-size);
                        line-height: var(--body-line-height);
                        color: #2d2d2d;
                    }

                    .info__answer {

                    }

