.info {
    padding-top: 98px;
    padding-bottom: 98px;
}
    .info__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .info__description {
        max-width: 890px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: var(--body-font-size);
        line-height: var(--body-line-height);
        text-align: center;
    }

    .info__table-of-contains {
        margin-top: 20px;
        padding: 66px 46px;
        background-color: #FAF6F5;
        background-image: linear-gradient(45deg, #f0e7fd, #f8f8f6 33%, #fdeef3);
        border-radius: 30px;
    }
        .info__contains-section {

        }
            .info__contains-heading {
                margin-top: 0;
                margin-bottom: 0;
                display: block;
                color: #2d2d2d;
            }

            .info__contains-question {
                display: block;
                padding-left: 27px;
                padding-top: 10px;
                padding-bottom: 10px;
                background-image: url("../vectors/help.svg");
                background-size: 18px 18px;
                background-repeat: no-repeat;
                background-position: left calc(50% - 1px);
                font-size: 18px;
                line-height: 21px;
                color: var(--blue);
                text-decoration: 1.25px underline transparent;
                text-underline-offset: 3px;
                transition: text-decoration-color var(--transition-hover);
            }

            .info__contains-question:hover {
                text-decoration-color: currentColor;
            }
