.intro {
    padding-top: 56px;
    padding-bottom: 50px;
    background-image: url("../images/intro-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #100022;
}
    .intro__wrap {

    }
        .intro__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: normal;
            font-size: 36px;
            line-height: 36px;
            color: #FFFFFF;
            text-align: center;
        }

        .intro__description {
            max-width: 640px;
            margin-top: 13px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            line-height: 28px;
            color: #FFFFFF;
            text-align: center;
        }



@media (1850px <= width) {

    .intro {
        padding-top: 101px;
        padding-bottom: 78px;
        background-image: url("../images/intro-mobile.jpg");
    }
        .intro__wrap {

        }
            .intro__heading {
                font-size: 48px;
                line-height: 48px;
            }

            .intro__description {
                max-width: 720px;
                margin-top: 19px;
                font-size: 18px;
                line-height: 30px;
            }
}
