.list-with-checks {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}
    .list-with-checks__item {
        margin-top: 14px;
        padding-left: 24px;
        background-image: url("../vectors/check_circle.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: left top;
        font-size: 15px;
        line-height: 17px;
    }

    .list-with-checks__item:first-child {
        margin-top: 0;
    }


@media (1850px <= width ) {

    .list-with-checks {

    }
        .list-with-checks__item {
            margin-top: 18px;
            padding-left: 30px;
            background-size: 18px 18px;
            font-size: 16px;
            line-height: 18px;
        }

        .list-with-checks__item:first-child {

        }
}
