/* stylelint-disable */
.page {
    min-height: calc(100svh - var(--header-height)); /* Footer to bottom */
    display: flex;
    flex-direction: column;
}
/* stylelint-enable */

    .page__unique-part {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .page__footer {
        flex-shrink: 0;
    }

.burger-expanded .page {
    display: none;
}
