.partners {
    padding-top: 90px;
    padding-bottom: 30px;
}
    .partners__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        color: #3d3d3d;
    }

    .partners__list {
        margin-top: 42px;
        display: flex;
        align-items: flex-start;
    }
        .partners__item {
            opacity: 50%;
            transition: opacity var(--transition-hover);
        }

        .partners__item:hover {
            opacity: 100%;
        }

            .partners__image {
                vertical-align: top;
                width: 100%;
                height: auto;
            }



@media (1850px <= width) {

    .partners {
        padding-top: 131px;
        padding-bottom: 40px;
    }
        .partners__heading {

        }

        .partners__list {
            margin-top: 55px;
        }
            .partners__item {

            }
                .partners__image {

                }
}



@media (width < 740px) {

    .partners {
        padding-top: 60px;
        padding-bottom: 10px;
    }
        .partners__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*text-align: center;*/
            /*color: #3d3d3d;*/
        }

        .partners__list {
            margin-top: 20px;
            margin-left: calc(-1 * 1/2 * var(--container-padding));
            margin-right: calc(-1 * 1/2 * var(--container-padding));
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
            .partners__item {
                /*opacity: 50%;*/
                /*transition: opacity var(--transition-hover);*/
            }

            .partners__item:hover {
                /*opacity: 100%;*/
            }
                .partners__image {
                    /*vertical-align: top;*/
                    /*width: 100%;*/
                    /*height: auto;*/
                }
}

