.platforms {
    padding-top: 80px;
    padding-bottom: 100px;
}
    .platforms__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .platforms__body {
        margin-top: 42px;
    }



@media (1850px <= width) {

    .platforms {
        padding-top: 156px;
        padding-bottom: 179px;
    }
        .platforms__heading {

        }

        .platforms__body {
            margin-top: 68px;
        }
}
