.pre-header {
    position: relative;
    height: var(--pre-header-height);
    background-image: linear-gradient(to right, #5808fb, #c41781);
    color: #FFFFFF;
}
    .pre-header__wrap {
        height: var(--pre-header-height);
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .pre-header__message {
            font-size: 13px;
            line-height: 16px;
            text-align: center;
        }
            .pre-header .link {
                text-decoration-thickness: 0.75px;
                text-underline-offset: 2.5px;
            }

    .pre-header__close {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
        .pre-header__close::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            display: block;
            width: calc(3 / 4 * var(--pre-header-height));
            height: calc(3 / 4 * var(--pre-header-height));
            border-radius: 50%;
            transition: background-color var(--transition-hover);
        }

        .pre-header__close:hover::before {
            background-color: rgb(255 255 255 / 10%);
        }

        .pre-header__close .icon {
            font-size: 20px;
            color: #FFFFFF;
        }



@media (width < 740px) {

    .page-scrolled.burger-expanded .pre-header {
        display: none;
    }
}



@media (1850px <= width) {

    .pre-header {

    }
        .pre-header__wrap {

        }
            .pre-header__message {
                font-size: 14px;
                line-height: 18px;
            }

        .pre-header__close {
            width: 60px;
        }
            .pre-header__close::before {

            }

            .pre-header__close:hover::before {

            }

            .pre-header__close .icon {
                font-size: 24px;
            }
}



@media (width < 740px) {

    .pre-header {

    }
        .pre-header__wrap {

        }
            .pre-header__message {

            }
                .pre-header .link {

                }

            .pre-header__close {
                width: 75px;
            }

            @media (width < 540px) {

                .pre-header__close {
                    width: 75px;
            }

            @media (width < 350px) {
                .pre-header__close {
                    width: 40px;
            }
                }
                .pre-header__close::before {

                }

                .pre-header__close:hover::before {

                }

                .pre-header__close .icon {

                }
}

