.review {
    padding: 1px;
    background-image: linear-gradient(#8712dd, #cd408f);
    border-radius: 15px;
    color: #efefef;
}
    .review__background {
        padding: 16px 28px 34px;
        background-color: #120421;
        border-radius: 14px;
    }
        .review__icon {
            margin-left: -8px;
        }
            .review__icon .icon {
                font-size: 60px;
            }

        .review__message {
            margin-top: 32px;
        }

        .review__rating {
            margin-top: 18px;
        }



@media (1850px <= width) {

    .review {
        border-radius: 20px;
    }
        .review__background {
            padding: 20px 36px 42px;
            border-radius: 19px;
        }
            .review__icon {
                margin-left: -10px;
            }
                .review__icon .icon {
                    font-size: 72px;
                }

            .review__message {
                margin-top: 45px;
            }

            .review__rating {
                margin-top: 27px;
            }
}
