.splide {
    position: relative;
}
    .splide__arrows {
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 50px;
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }
        .splide__arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 36px;
            border: 1px solid #9A9A9A;
            padding: 0;
            background-color: transparent;
            border-radius: 18px;
            cursor: pointer;
            transition: background-color var(--transition-hover),
                        opacity 300ms ease;
        }

        .splide__arrow:hover {
            background-color: #F4F4F4;
        }

        .splide__arrow[disabled] {
            cursor: default;
            opacity: 30%;
        }

        .splide__arrow--prev {

        }

        .splide__arrow--next {

        }
            .splide__arrow svg {
                vertical-align: top;
                width: 34px;
                height: 34px;
                fill: #000000;
            }

            .splide__arrow--prev svg {
                transform: scaleX(-100%);
            }

    .splide__track {
        overflow: visible; /* cut carousel edges manually */
    }
        .splide__list {

        }
            .splide__slide {

            }

    .splide__pagination {

    }



@media (1850px <= width) {

    .splide {

    }
        .splide__arrows {
            margin-bottom: 74px;
            gap: 10px;
        }
            .splide__arrow {
                width: 108px;
                height: 42px;
                background-color: transparent;
                border-radius: 21px;
            }

            .splide__arrow:hover {

            }

            .splide__arrow[disabled] {

            }

            .splide__arrow--prev {

            }

            .splide__arrow--next {

            }
                .splide__arrow svg {
                    width: 40px;
                    height: 40px;
                }

                .splide__arrow--prev svg {

                }

        .splide__track {

        }
            .splide__list {

            }
                .splide__slide {

                }

        .splide__pagination {

        }
}



@media (width < 740px) {

    .splide {
        /*position: relative;*/
    }
        .splide__arrows {
            position: static;
            /*right: 0;*/
            /*bottom: 100%;*/
            /*margin-bottom: 50px;*/
            /*display: flex;*/
            /*align-items: flex-start;*/
            /*gap: 8px;*/
        }
            .splide__arrow {
                /*display: flex;*/
                /*align-items: center;*/
                /*justify-content: center;*/
                /*width: 80px;*/
                /*height: 36px;*/
                /*border: 1px solid #9A9A9A;*/
                /*padding: 0;*/
                /*background-color: transparent;*/
                /*border-radius: 18px;*/
                /*cursor: pointer;*/
                /*transition: background-color var(--transition-hover),*/
                /*            opacity 300ms ease;*/
            }

            .splide__arrow:hover {
                /*background-color: #F4F4F4;*/
            }

            .splide__arrow[disabled] {
                cursor: default;
                opacity: 30%;
            }

            .splide__arrow--prev {

            }

            .splide__arrow--next {

            }
                .splide__arrow svg {
                    vertical-align: top;
                    width: 34px;
                    height: 34px;
                    fill: #000000;
                }

                .splide__arrow--prev svg {
                    transform: scaleX(-100%);
                }

        .splide__track {
            overflow: visible; /* cut carousel edges manually */
        }
            .splide__list {

            }
                .splide__slide {

                }

        .splide__pagination {

        }
}
