.tariffs {
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
    table-layout: fixed;
}
    .tariffs__section {

    }
        .tariffs__row {

        }
            .tariffs__cell {

            }
                .tariffs__column-name {

                }

                .tariffs__description {

                }

                .tariffs__action {

                }

    .tariffs__section {

    }
        .tariffs__row {

        }
            .tariffs__cell {
                vertical-align: top;
                border-top: 1px solid #E0E0E0;
                padding: 14px 34px 13px;
                font-size: 14px;
                line-height: 20px;
                color: #2d2d2d;
            }


            .tariffs__section--head .tariffs__cell {
                border-top: none;
                padding-top: 40px;
            }


            /* Feature cell */

            .tariffs__cell--feature {
                padding-left: 0;
                text-align: left;
                font-weight: normal;
            }


            /* Pro cell */

            .tariffs__cell--pro {
                border-top-color: #F5F5F5;
                background-color: #F5F5F5;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
            }

            .tariffs__section--head .tariffs__row:last-child .tariffs__cell--pro {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            .tariffs__section--body .tariffs__row:last-child .tariffs__cell--pro {
                padding-bottom: 44px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }


            /* Lite cell */

            .tariffs__cell--lite {

            }
