.team {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #120620;
    background-image: url("../images/team-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color-scheme: dark;
    color: #f2f2f2;
}
    .team__wrapper {

    }
        .team__heading {
            margin-top: 0;
            margin-bottom: 0;
            color: #FFFFFF;
            text-align: center;
        }

        .team__description {
            max-width: 840px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
        }

        .team__list {
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));
            gap: 24px;
            justify-content: stretch;
        }
            .team__member {

            }
                .team__photo {
                    padding: 5px;
                    background-color: #F2F2F2;
                    border-radius: 15px;
                }
                    .team__image {
                        vertical-align: top;
                        width: 100%;
                        aspect-ratio: 1/1;
                        border-radius: 10px;
                    }

                .team__name {
                    margin-top: 15px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                }

                .team__post {
                    margin-top: 2px;
                    font-size: 15px;
                    line-height: 22px;
                }

        .team__addition {
            margin-top: 90px;
            max-width: 850px;
            margin-left: auto;
            margin-right: auto;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
        }

        .team__portfolio-link {
            margin-top: 45px;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }



@media (1850px <= width) {

    .team {
        padding-top: 116px;
        padding-bottom: 128px;
    }
        .team__wrapper {

        }
            .team__heading {

            }

            .team__description {
                max-width: 940px;
                margin-top: 28px;
                font-size: 18px;
                line-height: 30px;
            }

            .team__list {
                margin-top: 90px;
                gap: 30px;
            }
                .team__member {

                }
                    .team__photo {
                        padding: 6px;
                        border-radius: 18px;
                    }
                        .team__image {
                            border-radius: 12px;
                        }

                    .team__name {
                        margin-top: 20px;
                        font-size: 24px;
                        line-height: 28px;
                    }

                    .team__post {
                        font-size: 16px;
                        line-height: 24px;
                    }

            .team__addition {
                margin-top: 143px;
                max-width: 1070px;
                font-size: 30px;
                line-height: 36px;
            }

            .team__portfolio-link {
                margin-top: 61px;
            }
}



@media (width < 740px) {

    .team {
        padding-top: 60px;
        padding-bottom: 80px;
        /*background-color: #120620;*/
        /*background-image: url("../images/team-desktop.jpg");*/
        /*background-size: cover;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center center;*/
        /*color-scheme: dark;*/
        /*color: #f2f2f2;*/
    }
        .team__wrapper {

        }
            .team__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*color: #FFFFFF;*/
                /*text-align: center;*/
            }
                .team__heading.title,
                .team__heading .title {
                    font-size: 30px;
                    line-height: 36px;
                }

            .team__description {
                /*max-width: 840px;*/
                /*margin-top: 20px;*/
                /*margin-left: auto;*/
                /*margin-right: auto;*/
                font-size: 15px;
                line-height: 24px;
                /*text-align: center;*/
            }

            .team__list {
                margin-top: 50px;
                /*display: grid;*/
                grid-template-columns: repeat(2, minmax(0, 1fr));
                /*gap: 24px;*/
                /*justify-content: stretch;*/
            }
                .team__member {

                }
                    .team__photo {
                        /*padding: 5px;*/
                        /*background-color: #F2F2F2;*/
                        /*border-radius: 15px;*/
                    }
                        .team__image {
                            /*vertical-align: top;*/
                            /*width: 100%;*/
                            /*aspect-ratio: 1/1;*/
                            /*border-radius: 10px;*/
                        }

                    .team__name {
                        margin-top: 10px;
                        /*font-weight: 500;*/
                        font-size: 18px;
                        line-height: 22px;
                        /*color: #FFFFFF;*/
                    }

                    .team__post {
                        /*margin-top: 2px;*/
                        font-size: 14px;
                        line-height: 20px;
                    }

            .team__addition {
                margin-top: 40px;
                /*max-width: 850px;*/
                /*margin-left: auto;*/
                /*margin-right: auto;*/
                font-size: 20px;
                line-height: 32px;
                /*text-align: center;*/
            }

            .team__portfolio-link {
                /*margin-top: 45px;*/
                /*margin-left: auto;*/
                /*margin-right: auto;*/
                /*width: fit-content;*/
            }
}


