.teaser {
    display: grid;
    align-items: flex-start;
    grid-template-columns: minmax(0, 480px) minmax(0, 1fr);
    gap: 32px;
}
    .teaser__preview {

    }
        .teaser__featured-image {
            vertical-align: top;
            width: 100%;
            height: auto;
            background-color: var(--image-fallback);
            border-radius: 22px;
            transition: filter var(--transition-hover);
        }

        .teaser__preview:hover .teaser__featured-image {
            filter: brightness(105%) contrast(105%);
        }

    .teaser__body {

    }
        .teaser__pub-date {
            font-size: 12px;
            line-height: 15px;
            color: var(--blue);
        }

        .teaser__heading {
            margin-top: 10px;
            margin-bottom: 0;
            font-weight: 500;
        }
            .teaser__link {
                text-decoration: 1.5px underline transparent;
                text-underline-offset: 4px;
                color: inherit;
            }

            .teaser__link:hover {
                text-decoration-color: currentColor;
            }

        .teaser__text {
            margin-top: 18px;
        }

        .teaser__stats {
            margin-top: 30px;
        }



@media (1850px <= width) {

    .teaser {
        grid-template-columns: minmax(0, 560px) minmax(0, 1fr);
        gap: 40px;
    }
        .teaser__preview {

        }
            .teaser__featured-image {
                border-radius: 29px;
            }

            .teaser__preview:hover .teaser__featured-image {

            }

        .teaser__body {

        }
            .teaser__pub-date {
                font-size: 13px;
                line-height: 16px;
            }

            .teaser__heading {
                margin-top: 13px;
                max-width: 550px;
            }
                .teaser__link {
                    text-decoration-thickness: 2px;
                }

                .teaser__link:hover {

                }

            .teaser__text {
                margin-top: 24px;
                max-width: 700px;
            }

            .teaser__stats {
                margin-top: 39px;
            }
}



@media (width < 740px) {

    .teaser {
        display: block;
    }
        .teaser__preview {

        }
            .teaser__featured-image {

            }

            .teaser__preview:hover .teaser__featured-image {

            }

        .teaser__body {
            margin-top: 24px;
        }
            .teaser__pub-date {
                /*font-size: 12px;*/
                /*line-height: 15px;*/
                /*color: var(--blue);*/
            }

            .teaser__heading {
                /*margin-top: 10px;*/
                /*margin-bottom: 0;*/
            }
                .teaser__link {
                    /*text-decoration: 1.5px underline transparent;*/
                    /*text-underline-offset: 4px;*/
                    /*color: inherit;*/
                }

                .teaser__link:hover {
                    /*text-decoration-color: currentColor;*/
                }

            .teaser__text {
                /*margin-top: 18px;*/
            }

            .teaser__stats {

            }
}

