.type {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 2px;
    padding: 0 8px;
    border-radius: 0 3px 3px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}
    .type--pro {
        background-color: var(--blue);
        color: #FFFFFF;
    }

    .type--lite {
        margin-left: 8px;
        background-color: var(--pink);
        color: #FFFFFF;
    }
        .type--lite::after {
            content: "";
            position: absolute;
            right: 100%;
            top: 0;
            bottom: 0;
            border-right: 12px solid var(--pink);
            border-top: 26px solid transparent;
        }
