.why {
    padding-top: 60px;
    padding-bottom: 80px;
}
    .why__wrapper {
        overflow: hidden; /* cut top border of the .why__item */
    }
        .why__heading {
            margin-top: 0;
            margin-bottom: 0;
            color: #252525;
            text-align: center;
        }

        .why__description {
            margin-top: 18px;
            width: 1080px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
        }

        .why__action {
            margin-top: 40px;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }

        .why__list {
            --why-padding: 32px;
            margin-top: 60px;
            margin-left: calc(-1 * var(--why-padding));
            margin-right: calc(-1 * var(--why-padding));
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
            .why__item {
                border-top: 1px solid #D1D1D1;
                border-left: 1px solid #D1D1D1;
                padding: 42px var(--why-padding) 54px;
            }

            .why__item:nth-child(3n+1) {
                border-left: none;
            }

            .why__item:nth-child(1),
            .why__item:nth-child(2),
            .why__item:nth-child(3) {
                border-top: none;
                padding-top: 0;
            }

            .why__item:nth-last-child(1),
            .why__item:nth-last-child(2),
            .why__item:nth-last-child(3) {
                padding-bottom: 15px;
            }
                .why__item-icon {

                }
                    .why__item-icon.icon,
                    .why__item-icon .icon {
                        font-size: 30px;
                        color: var(--blue);
                    }

                .why__reason {
                    display: block;
                    margin-top: 9px;
                    margin-bottom: 0;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    color: #252525;
                }

                .why__note {
                    margin-top: 14px;
                    font-size: 15px;
                    line-height: 22px;
                }

            .why__item--action {
                 background-color: #EFF0F0;
            }

                .why__question {
                    margin-top: 0;
                    margin-bottom: 0;
                    display: block;
                    font-weight: normal;
                    text-align: center;
                }

                .why__arrow {
                    margin-top: 24px;
                    display: block;
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                }
                    .why__arrow.icon,
                    .why__arrow .icon {
                        font-size: 22px;
                    }

                .why__request {
                    margin-top: 22px;
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 24px;
                }
                    .why__request.button,
                    .why__request .button {
                        width: 210px;
                    }


.why--how-it-works {
    background-color: #120421;
    background-image: url("../images/why-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color-scheme: dark;
    color: #efefef;
}
    .why--how-it-works .why__wrapper {

    }
        .why--how-it-works .why__heading {
            color: #FFFFFF;
        }

        .why--how-it-works .why__item-icon {

        }

            .why--how-it-works .why__item-icon.icon,
            .why--how-it-works .why__item-icon .icon {
                color: #FFFFFF;
            }

        .why--how-it-works .why__reason {
            color: #FFFFFF;
        }

@media (1850px <= width) {

    .why {
        padding-top: 84px;
        padding-bottom: 114px;
    }
        .why__wrapper {

        }
            .why__heading {

            }

            .why__description {
                margin-top: 24px;
                width: 1230px;
                font-size: 18px;
                line-height: 30px;
            }

            .why__action {
                margin-top: 55px;
            }

            .why__list {
                --why-padding: 46px;
                margin-top: 89px;
            }
                .why__item {
                    padding-top: 56px;
                    padding-bottom: 88px;
                }

                .why__item:nth-child(3n+1) {

                }

                .why__item:nth-child(1),
                .why__item:nth-child(2),
                .why__item:nth-child(3) {

                }

                .why__item:nth-last-child(1),
                .why__item:nth-last-child(2),
                .why__item:nth-last-child(3) {
                    padding-bottom: 20px;
                }
                    .why__item-icon {

                    }
                        .why__item-icon.icon,
                        .why__item-icon .icon {
                            font-size: 36px;
                        }

                    .why__reason {
                        margin-top: 12px;
                        font-size: 24px;
                        line-height: 28px;
                    }

                    .why__note {
                        margin-top: 18px;
                        font-size: 16px;
                        line-height: 24px;
                    }

                .why__item--action {

                }

                    .why__question {

                    }

                    .why__arrow {
                        margin-top: 30px;
                    }
                        .why__arrow.icon,
                        .why__arrow .icon {
                            font-size: 26px;
                        }

                    .why__request {
                        margin-top: 28px;
                        margin-bottom: 30px;
                    }
                        .why__request.button,
                        .why__request .button {
                            width: 266px;
                        }
}



@media (width < 740px) {

    .why {
        /*padding-top: 60px;*/
        /*padding-bottom: 80px;*/
    }
        .why__wrapper {
            /*overflow: hidden; !* cut top border of the .why__item *!*/
        }
            .why__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*color: #252525;*/
                /*text-align: center;*/
            }

            .why__description {
                /*margin-top: 18px;*/
                width: auto;
                /*margin-left: auto;*/
                /*margin-right: auto;*/
                font-size: 15px;
                line-height: 24px;
                text-align: left;
            }

            .why__action {
                /*margin-top: 40px;*/
                /*width: fit-content;*/
                /*margin-left: auto;*/
                /*margin-right: auto;*/
            }

            .why__list {
                /*--why-padding: 32px;*/
                /*margin-top: 60px;*/
                margin-left: 0;
                margin-right: 0;
                display: flex;
                flex-direction: column;
                /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
            }
                .why__item {
                    /*border-top: 1px solid #D1D1D1;*/
                    /*border-left: 1px solid #D1D1D1;*/
                    border: none;
                    margin: 32px 0 0;
                    padding: 0;
                }

                .why__item:first-child {
                    margin-top: 0;
                }

                .why__item:nth-child(3n+1) {
                    /*border-left: none;*/
                }

                .why__item:nth-child(1),
                .why__item:nth-child(2),
                .why__item:nth-child(3) {
                    /*border-top: none;*/
                    /*padding-top: 0;*/
                }

                .why__item:nth-last-child(1),
                .why__item:nth-last-child(2),
                .why__item:nth-last-child(3) {
                    /*padding-bottom: 15px;*/
                }
                    .why__item-icon {

                    }
                        .why__item-icon.icon,
                        .why__item-icon .icon {
                            /*font-size: 30px;*/
                            /*color: var(--blue);*/
                        }

                    .why__reason {
                        /*display: block;*/
                        /*margin-top: 9px;*/
                        /*margin-bottom: 0;*/
                        /*font-weight: 500;*/
                        /*font-size: 20px;*/
                        /*line-height: 26px;*/
                        /*color: #252525;*/
                    }

                    .why__note {
                        /*margin-top: 14px;*/
                        /*font-size: 15px;*/
                        /*line-height: 22px;*/
                    }

                .why__item--action {
                     /*background-color: #EFF0F0;*/
                    order: 20;
                    padding-top: 30px;
                }

                    .why__question {
                        /*margin-top: 0;*/
                        /*margin-bottom: 0;*/
                        /*display: block;*/
                        /*font-weight: normal;*/
                        /*text-align: center;*/
                    }

                    .why__arrow {
                        /*margin-top: 24px;*/
                        /*display: block;*/
                        /*width: fit-content;*/
                        /*margin-left: auto;*/
                        /*margin-right: auto;*/
                    }
                        .why__arrow.icon,
                        .why__arrow .icon {
                            /*font-size: 22px;*/
                        }

                    .why__request {
                        /*margin-top: 22px;*/
                        /*width: fit-content;*/
                        /*margin-left: auto;*/
                        /*margin-right: auto;*/
                        /*margin-bottom: 24px;*/
                    }
                        .why__request.button,
                        .why__request .button {
                            /*width: 210px;*/
                        }
}


