.wysiwyg {
    overflow-wrap: break-word;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}


.wysiwyg--smaller {
    --body-font-size: 15px;
    --body-line-height: 22px;
}

@media (1850px <= width) {
    .wysiwyg--smaller {
        --body-font-size: 16px;
        --body-line-height: 24px;
    }
}


.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg figure,
.wysiwyg blockquote {
    margin-top: var(--body-line-height);
    margin-bottom: var(--body-line-height);
}


.wysiwyg--halved p,
.wysiwyg--halved ul,
.wysiwyg--halved ol,
.wysiwyg--halved hr,
.wysiwyg--halved figure,
.wysiwyg--halved blockquote {
    margin-top: calc(var(--body-line-height) / 2);
    margin-bottom: calc(var(--body-line-height) / 2);
}


.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child {
    margin-bottom: 0;
}


.wysiwyg h2 {
    margin-top: calc(1.5 * var(--body-line-height));
    margin-bottom: var(--body-line-height);
    font-weight: normal;
    color: #670aea;
}

.wysiwyg h3 {
    font-weight: normal;
    color: #670aea;
}

.wysiwyg h4 {
    font-weight: normal;
    color: #670aea;
}

.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg h4:first-child {
    margin-top: 0;
}

.wysiwyg h2:last-child,
.wysiwyg h3:last-child,
.wysiwyg h4:last-child {
    margin-bottom: 0;
}


.wysiwyg figure {
    margin-left: 0;
    margin-right: 0;
}

.wysiwyg img {
    width: 100%;
    height: auto;
    vertical-align: top;
    border-radius: 22px;
}

@media (1850px <= width) {

    .wysiwyg img {
        border-radius: 29px;
    }
}

.wysiwyg a {
    /* See .link component */
}


