.youtube-preview {
    aspect-ratio: 16/9;
    /*aspect-ratio: 560 / 356 in photoshop */
    background-color: var(--image-fallback);
    border-radius: 22px;
    overflow: hidden; /* cur video corners */
}
    .youtube-preview__handler {
        position: relative;
        vertical-align: top;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
    }
        .youtube-preview__image {
            vertical-align: top;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: filter var(--transition-hover);
        }

        .youtube-preview__handler:hover .youtube-preview__image {
            filter: brightness(105%) contrast(105%);
        }

        .youtube-preview__handler::after {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            display: block;
            width: 86px;
            height: 86px;
            background-color: rgb(255 255 255 / 62%);
            background-image: url("../vectors/play.svg");
            background-size: 36px 36px;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50%;
            transition: background-color var(--transition-hover);
        }

        .youtube-preview__handler:hover::after {
            background-color: rgb(255 255 255 / 70%);
        }

    .youtube-preview__video {
        width: 100%;
        height: 100%;
        vertical-align: top;
        border: none;
    }


.youtube-preview--white {

}
    .youtube-preview--white .youtube-preview__handler::after {
        background-color: rgb(58 58 58 / 62%);
        background-image: url("../vectors/play-white.svg");
    }


@media (1850px <= width) {

    .youtube-preview {
        border-radius: 30px;
    }
        .youtube-preview__handler {

        }
            .youtube-preview__image {

            }

            .youtube-preview__handler:hover .youtube-preview__image {

            }

            .youtube-preview__handler::after {
                width: 114px;
                height: 114px;
                background-size: 48px 48px;
            }

            .youtube-preview__handler:hover::after {

            }

        .youtube-preview__video {

        }
}
