<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Wanderlust Videos</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
        <div class="browser">
            It appears that you’re using an outdated browser. For this site and most others to work correctly, you need to switch to a modern browser.
        </div>
        <![endif]-->

        <header class="header">
            <div class="header__wrap container container--wide">
                <div class="header__logo">
                    <a class="logo" href="homepage.html">
                        Wanderlust Videos
                    </a>
                </div>
                <button class="header__toggler" type="button">
                    <div class="header__burger">
                        <div class="icon">menu</div>
                    </div>
                    <div class="header__cross">
                        <div class="icon">close</div>
                    </div>
                    <div class="visuallyhidden">
                        Toggle menu
                    </div>
                </button>
                <div class="header__dropdown">
                    <nav class="header__nav">
                        <div class="header__item">
                            <a class="header__link" href="why.html">Why Wanderlust</a>
                        </div>
                        <div class="header__item">
                            <a class="header__link" href="about-us.html">About us</a>
                        </div>
                        <div class="header__item">
                            <a class="header__link" href="portfolio.html">Portfolio</a>
                        </div>
                        <div class="header__item">
                            <a class="header__link" href="how-it-works.html">How it works</a>
                        </div>
                        <div class="header__item">
                            <a class="header__link" href="#">
                                Pricing
                            </a>
                            <div class="header__sub-menu">
                                <a class="header__sub-link" href="pricing-pro.html">
                                    Wanderlust <span class="smartphone-only">Pro</span><span class="desktop-only"><span class="type type--pro">Pro</span></span>
                                </a>
                                <a class="header__sub-link" href="pricing-lite.html">
                                    Wanderlust <span class="smartphone-only">Lite</span><span class="desktop-only"><span class="type type--lite">Lite</span></span>
                                </a>
                            </div>
                        </div>
                        <div class="header__item">
                            <a class="header__link" href="blog.html">Blog</a>
                        </div>
                        <div class="header__item">
                            <a class="header__link header__link--current" href="contact-us.html">Contact Us</a>
                        </div>
                    </nav>
                    <div class="header__actions">
                        <a class="button button--pink" href="#">
                            Login
                        </a>
                        <a class="button" href="contact-us.html">
                            <span class="icon">call</span>
                            Request a call
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="page">
            <div class="page__unique-part">
                <!-- Note ↓↓↓↓↓↓ auth--register ↓↓↓↓↓↓ class in this variant of auth form  -->
                <div class="auth auth--register container">
                    <h1 class="auth__heading title">
                        Contact Us
                    </h1>
                    <div class="auth__description">
                        You can send us a message or schedule a call to discuss how we can support you. We'd love to hear from you!
                    </div>
                    <form class="auth__form">
                        <div class="auth__information">
                            <div class="auth__field">
                                <div class="input">
                                    <input class="input__widget" type="text" placeholder="First Name *">
                                </div>
                            </div>
                            <div class="auth__field">
                                <div class="input">
                                    <input class="input__widget" type="text" placeholder="Last Name *">
                                </div>
                            </div>
                            <div class="auth__field">
                                <div class="input">
                                    <input class="input__widget" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="auth__field">
                                <div class="input">
                                    <input class="input__widget" type="url" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="auth__field">
                                <div class="input">
                                    <input class="input__widget" type="text" placeholder="Company Website">
                                </div>
                            </div>
                            <div class="auth__field">
                                <div class="input">
                                    <select class="input__widget">
                                        <option value="placeholder" selected="">Subject</option>
                                        <option>General Inquiry</option>
                                        <option>New Project Inquiry</option>
                                        <option>Rush Edit Request</option>
                                        <option>Sponsorship Inquiry</option>
                                        <option>Feedback or Suggestions</option>
                                        <option>Pricing Inquiry</option>
                                        <option>Support Request</option>
                                        <option>Career Opportunities</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="auth__field auth__field--full-width">
                                <div class="input input--expandable">
                                    <textarea class="input__widget" rows="4" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="auth__submit">
                            <button class="button button--submit" type="button">
                                Send message
                            </button>
                        </div>
                        <div class="auth__output">
                            Oops! Looks like you missed a required field.
                            Please try again, we are almost there!
                        </div>
                    </form>
                </div>
            </div>
            <div class="page__footer">
                <footer class="footer">
                    <div class="footer__wrap container container--wide">
                        <div class="footer__summary">
                            <div class="footer__logo">
                                <a class="logo logo--inverted" href="homepage.html">
                                    Wanderlust Videos
                                </a>
                            </div>
                            <div class="footer__description">
                                For filmmakers who want quality, speed,
                                and peace of mind. We help you grow
                                your business, not your workload.
                            </div>
                            <div class="footer__social-media">
                                <a class="media media--facebook" href="#">Facebook</a>
                                <a class="media media--instagram" href="#">Instagram</a>
                                <a class="media media--linked-in" href="#">LinkedIn</a>
                                <a class="media media--youtube" href="#">YouTube</a>
                                <a class="media media--tiktok" href="#">TikTok</a>
                            </div>
                            <div class="footer__legalities">
                                <strong>Wanderlust Videos</strong><br>
                                25807 Westheimer Parkway #509.<br>
                                Katy, Texas 77494<br>
                                USA
                            </div>
                        </div>
                        <nav class="footer__navigation">
                            <div class="footer__column footer__column--services">
                                <a class="footer__main-link" href="#">
                                    Our Services
                                </a>
                                <ul class="footer__sub-menu">
                                    <li class="footer__item">Highlight Film</li>
                                    <li class="footer__item">Feature Film</li>
                                    <li class="footer__item">Social media teaser</li>
                                    <li class="footer__item">Montage Video</li>
                                    <li class="footer__item">Ceremony clean edit</li>
                                    <li class="footer__item">Reception clean edit</li>
                                    <li class="footer__item">Archive Film</li>
                                    <li class="footer__item">Engagement Video</li>
                                    <li class="footer__item">Videos for vendors</li>
                                    <li class="footer__item">Viral Pack</li>
                                    <li class="footer__item">Filmmaker Reel</li>
                                    <li class="footer__item">Elopment Video</li>
                                    <li class="footer__item">Documentary full film</li>
                                    <li class="footer__item">Videos for couples</li>
                                </ul>
                            </div>
                            <div class="footer__column">
                                <a class="footer__main-link" href="#">
                                    Resources
                                </a>
                                <div class="footer__sub-menu">
                                    <a class="footer__item footer__item--clickable" href="#">Blog</a>
                                    <a class="footer__item footer__item--clickable" href="#">Frequently Asked Questions</a>
                                    <a class="footer__item footer__item--clickable" href="#">Pricing</a>
                                    <a class="footer__item footer__item--clickable" href="#">Terms of Service</a>
                                    <a class="footer__item footer__item--clickable" href="#">Privacy Policy</a>
                                </div>
                            </div>
                            <div class="footer__column">
                                <a class="footer__main-link" href="about-us.html">
                                    Company
                                </a>
                                <div class="footer__sub-menu">
                                    <a class="footer__item footer__item--clickable" href="#">About Us</a>
                                    <a class="footer__item footer__item--clickable" href="#">Portfolio</a>
                                    <a class="footer__item footer__item--clickable" href="#">Contact</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </footer>
            </div>
        </div>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/splide/js/splide.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
