<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>How It Works</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
        <div class="browser">
            It appears that you’re using an outdated browser. For this site and most others to work correctly, you need to switch to a modern browser.
        </div>
        <![endif]-->

        <div class="page">
            <div class="container">

            </div>
            <section class="vision container">
                <h2 class="vision__heading title">

                </h2>
                <div class="vision__description">

                </div>
                <div class="vision__list">
                    <div class="vision__item">

                    </div>
                </div>
            </section>
            <search class="why why--how-it-works">
                <div class="why__wrapper container">
                    <h2 class="why__heading title">
                        Why should I outsource my edits to Wanderlust Videos?
                    </h2>
                    <div class="why__description">
                        Let’s be real, editing takes time. Whether you’re a seasoned wedding filmmaker or just getting started, it can eat into the parts of your business that matter most. Wanderlust Videos helps you deliver stunning, polished films without the long hours. We match your style, handle the edits, and free you up to focus on shooting, booking, and growing your business. Big or small, we’re here to help you thrive.
                    </div>
                    <div class="why__action">
                        <a class="button button--larger" href="contacts.html">
                            <span class="button__icon icon">call</span>
                            Request a call
                        </a>
                    </div>
                    <div class="why__list">
                        <div class="why__item">
                            <span class="why__item-icon icon">wand_stars</span>
                            <b class="why__reason">
                                Specialized expertise
                            </b>
                            <div class="why__note">
                                We craft emotional, cinematic wedding films couples will treasure, handling your footage with care, expertise, and a deep understanding of the wedding day.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">shutter_speed</span>
                            <b class="why__reason">
                                Time for what really matters
                            </b>
                            <div class="why__note">
                                We help you focus on growing your business, improving services, or enjoying personal time while we handle the post-production.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">partner_exchange</span>
                            <b class="why__reason">
                                A flexible, scalable partner
                            </b>
                            <div class="why__note">
                                Busy season or sudden backlog? We’re here to help. We scale with you, delivering consistent, polished edits without extra hires.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">savings</span>
                            <b class="why__reason">
                                Cost-effective without compromise
                            </b>
                            <div class="why__note">
                                We tailor each edit to match your style, reinforcing your brand’s identity and delivering results you’ll be proud to present to clients.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">diamond_shine</span>
                            <b class="why__reason">
                                Your brand, your style, our support
                            </b>
                            <div class="why__note">
                                Each edit is crafted to maintain the consistency and quality your brand represents, allowing you to confidently share exceptional results with clients.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">handshake</span>
                            <b class="why__reason">
                                A partner you can truly rely on
                            </b>
                            <div class="why__note">
                                We’re not just a vendor at Wanderlust Videos. We’re committed to your success, open in communication, and here to support you throughout the entire process.
                            </div>
                        </div>
                    </div>
                </div>
            </search>
        </div>


        <!-- .mfp -->
<!--        <div class="window mfp-hide" id="login">-->
<!--            <button class="window__close mfp-close" type="button">-->
<!--                Close-->
<!--            </button>-->
<!--            <div class="login">-->
<!--                <h2 class="login__heading">-->
<!--                    Magnific Popup!-->
<!--                </h2>-->
<!--                <div class="login__body">-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur debitis eligendi fugiat provident sed, velit! At debitis dolore fuga ipsum laudantium nemo reiciendis temporibus voluptates? Ab, accusantium aspernatur cumque dicta ducimus eaque eius eos eum in maxime nihil nulla numquam velit. Accusamus, aliquid atque beatae culpa cupiditate fugiat iure iusto non odit pariatur quae saepe ullam voluptatibus.-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
