<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>How It Works</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
        <div class="browser">
            It appears that you’re using an outdated browser. For this site and most others to work correctly, you need to switch to a modern browser.
        </div>
        <![endif]-->

        <div class="page">
            <header class="header">
                <div class="header__fixed-panel">

                </div>
            </header>
            <div class="how container">
                <h1 class="how__heading title">
                    When care and craft come together, it's a partnership built on trust. Here's how it&nbsp;works
                </h1>
                <div class="how__description">
                    Offload your video editing without giving up quality or creative control. Wanderlust Videos works like an extension of your team, minus the hiring overhead. No contracts, no minimums, no hassle.
                </div>
                <div class="how__body">
                    <div class="accordion accordion--steps">
                        <!--
                          • Note .accordion--steps option.
                          • First of .accordion__slide has class accordion__slide--current while remaining ones have style="display: none;"
                            First of .accordion__item has class accordion__item--expanded while remaining ones have .accordion__dropdown CHILD with style="display: none;"
                            (This is necessary so the page won't flash on document load)
                        -->
                        <div class="accordion__desktop-preview">
                            <div class="accordion__slide accordion__slide--current">
                                <!-- Images are strictly 540x480 (and 540x480@2x)
                                     Also make sure to duplicate the same image inside .accordion__mobile-image
                                     (one shown on desktops, and a copy shown on mobiles in another DOM area)
                                -->
                                <img class="accordion__image"
                                     srcset="../temp/accordion/step-1@2x.jpg 1.5x"
                                     src="../temp/accordion/step-1@1x.jpg"
                                     width="540"
                                     height="480"
                                     alt=""
                                >
                            </div>
                            <div class="accordion__slide" style="display: none;">
                                <!-- Images are strictly 540x480 (and 540x480@2x)
                                     Also make sure to duplicate the same image inside .accordion__mobile-image
                                     (one shown on desktops, and a copy shown on mobiles in another DOM area)
                                -->
                                <img class="accordion__image"
                                     srcset="../temp/accordion/step-2@2x.jpg 1.5x"
                                     src="../temp/accordion/step-2@1x.jpg"
                                     width="540"
                                     height="480"
                                     alt=""
                                >
                            </div>
                            <div class="accordion__slide" style="display: none;">
                                <!-- Images are strictly 540x480 (and 540x480@2x)
                                     Also make sure to duplicate the same image inside .accordion__mobile-image
                                     (one shown on desktops, and a copy shown on mobiles in another DOM area)
                                -->
                                <img class="accordion__image"
                                     srcset="../temp/accordion/step-3@2x.jpg 1.5x"
                                     src="../temp/accordion/step-3@1x.jpg"
                                     width="540"
                                     height="480"
                                     alt=""
                                >
                            </div>
                        </div>
                        <div class="accordion__body">
                            <div class="accordion__item accordion__item--expanded">
                                <button class="accordion__handler" type="button">
                                    Step 1: Set up your Wanderlust Videos account
                                </button>
                                <div class="accordion__dropdown">
                                    <div class="wysiwyg wysiwyg--halved">
                                        <p>Getting started is easy. Just sign up for your account to access your dashboard, upload footage, editing preferences and stay connected throughout the editing process. It only takes a minute!</p>
                                    </div>
                                    <div class="accordion__mobile-preview">
                                        <!-- Images are strictly 540x480 (and 540x480@2x)
                                             Also make sure to duplicate the same image inside .accordion__image
                                             (one shown on desktops, and a copy shown on mobiles in another DOM area)
                                        -->
                                        <img class="accordion__mobile-image"
                                             srcset="../temp/accordion/step-1@2x.jpg 1.5x"
                                             src="../temp/accordion/step-1@1x.jpg"
                                             width="540"
                                             height="480"
                                             alt=""
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <button class="accordion__handler" type="button">
                                    Step 2: Upload footage to our cloud or ship us your hard drive
                                </button>
                                <div class="accordion__dropdown" style="display: none;">
                                    <div class="wysiwyg wysiwyg--halved">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi deleniti doloribus eum expedita, in iusto magnam maiores molestiae non, repellat unde voluptate. Accusantium ad at consectetur</p>
                                        <p>Deserunt dolore eius error eum ex hic ipsum iusto molestias nam natus nemo nesciunt numquam odit, officia perferendis quam quasi rem rerum sed sequi sint tenetur totam veniam? Ab adipisci animi aut blanditiis</p>
                                    </div>
                                    <div class="accordion__mobile-preview">
                                        <!-- Images are strictly 540x480 (and 540x480@2x)
                                            Also make sure to duplicate the same image inside .accordion__image
                                            (one shown on desktops, and a copy shown on mobiles in another DOM area)
                                       -->
                                        <img class="accordion__mobile-image"
                                             srcset="../temp/accordion/step-2@2x.jpg 1.5x"
                                             src="../temp/accordion/step-2@1x.jpg"
                                             width="540"
                                             height="480"
                                             alt=""
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <button class="accordion__handler" type="button">
                                    Step 3: Share your feedback or download files
                                </button>
                                <div class="accordion__dropdown" style="display: none;">
                                    <div class="wysiwyg wysiwyg--halved">
                                        <p>Consectetur corporis culpa cumque dicta distinctio dolor dolorem</p>
                                        <p>Dolores eveniet explicabo fugiat fugit illum incidunt ipsam, laboriosam laborum libero molestiae, mollitia necessitatibus nulla officia omnis quasi qui quidem quisquam recusandae repellendus repudiandae</p>
                                    </div>
                                    <div class="accordion__mobile-preview">
                                        <!-- Images are strictly 540x480 (and 540x480@2x)
                                            Also make sure to duplicate the same image inside .accordion__image
                                            (one shown on desktops, and a copy shown on mobiles in another DOM area)
                                       -->
                                        <img class="accordion__mobile-image"
                                             srcset="../temp/accordion/step-3@2x.jpg 1.5x"
                                             src="../temp/accordion/step-3@1x.jpg"
                                             width="540"
                                             height="480"
                                             alt=""
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="how__footer">
                    <div class="how__submit">
                        <a class="button button--larger button--secondary" href="#">Start now</a>
                    </div>
                    <div class="how__icon">
                        <div class="icon">redeem</div>
                    </div>
                    <div class="how__starting-message">
                        <div class="how__note">Promo code: <span class="highlight highlight--blue">NewSignup2025</span></div>
                        <div class="how__note">Get 10% off your first project + Free social media teaser + Unlimited revisions</div>
                    </div>
                </div>
            </div>
            <section class="vision container">
                <h2 class="vision__heading title">
                    Working as one to bring your vision to life.
                </h2>
                <div class="vision__description">
                    Behind every project is a tight-knit team of editors, coordinators, and storytellers who are aligned around your vision. From the moment your footage arrives, we work together with care and precision—reviewing every detail, making thoughtful edits, and ensuring the final product feels true to your story. Our collaborative approach means you’re never just a number. You’re part of the process, and your vision is always at the center.
                </div>
                <div class="vision__body">
                    <div class="vision__item">
                        <div class="vision__icon icon">
                            assignment
                        </div>
                        <b class="vision__sub-heading">
                            Project Manager
                        </b>
                        <div class="vision__feature">
                            Your Project Manager is your main point of contact, keeping you updated and ensuring your project stays on track from start to finish.
                        </div>
                        <div class="vision__list">
                            <ul class="list-with-checks">
                                <li class="list-with-checks__item">Regular progress updates so you’re always in the loop</li>
                                <li class="list-with-checks__item">Quick answers to your questions and requests</li>
                                <li class="list-with-checks__item">Ensures your feedback is clearly communicated to the team</li>
                            </ul>
                        </div>
                    </div>
                    <div class="vision__item">
                        <div class="vision__icon icon">
                            workspace_premium
                        </div>
                        <b class="vision__sub-heading">
                            Quality Assurance Specialist
                        </b>
                        <div class="vision__feature">
                            Every video goes through a second set of expert eyes. Our QA specialist checks for consistency, polish, and alignment with your feedback before final delivery.
                        </div>
                        <div class="vision__list">
                            <ul class="list-with-checks">
                                <li class="list-with-checks__item">Reviews edits to catch errors or inconsistencies</li>
                                <li class="list-with-checks__item">Checks color, audio, and transitions for quality</li>
                                <li class="list-with-checks__item">Verifies that your feedback has been fully addressed</li>
                            </ul>
                        </div>
                    </div>
                    <div class="vision__item">
                        <div class="vision__icon icon">
                            content_cut
                        </div>
                        <b class="vision__sub-heading">
                            Professional Editor
                        </b>
                        <div class="vision__feature">
                            Your footage is in the hands of a skilled editor who crafts your story with precision, balancing emotion, pacing, and visual flow to bring your vision to life.
                        </div>
                        <div class="vision__list">
                            <ul class="list-with-checks">
                                <li class="list-with-checks__item">Cuts and structures your footage into a compelling story</li>
                                <li class="list-with-checks__item">Adds music, color correction, and light effects as needed</li>
                                <li class="list-with-checks__item">Tailors each edit to match your brand, tone, or preferences</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="why why--how-it-works">
                <div class="why__wrapper container">
                    <h2 class="why__heading title">
                        Why should I outsource my edits to Wanderlust Videos?
                    </h2>
                    <div class="why__description">
                        Let’s be real, editing takes time. Whether you’re a seasoned wedding filmmaker or just getting started, it can eat into the parts of your business that matter most. Wanderlust Videos helps you deliver stunning, polished films without the long hours. We match your style, handle the edits, and free you up to focus on shooting, booking, and growing your business. Big or small, we’re here to help you thrive.
                    </div>
                    <div class="why__action">
                        <a class="button button--larger" href="contacts.html">
                            <span class="button__icon icon">call</span>
                            Request a call
                        </a>
                    </div>
                    <div class="why__list">
                        <div class="why__item">
                            <span class="why__item-icon icon">wand_stars</span>
                            <b class="why__reason">
                                Specialized expertise
                            </b>
                            <div class="why__note">
                                We craft emotional, cinematic wedding films couples will treasure, handling your footage with care, expertise, and a deep understanding of the wedding day.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">shutter_speed</span>
                            <b class="why__reason">
                                Time for what really matters
                            </b>
                            <div class="why__note">
                                We help you focus on growing your business, improving services, or enjoying personal time while we handle the post-production.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">partner_exchange</span>
                            <b class="why__reason">
                                A flexible, scalable partner
                            </b>
                            <div class="why__note">
                                Busy season or sudden backlog? We’re here to help. We scale with you, delivering consistent, polished edits without extra hires.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">savings</span>
                            <b class="why__reason">
                                Cost-effective without compromise
                            </b>
                            <div class="why__note">
                                We tailor each edit to match your style, reinforcing your brand’s identity and delivering results you’ll be proud to present to clients.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">diamond_shine</span>
                            <b class="why__reason">
                                Your brand, your style, our support
                            </b>
                            <div class="why__note">
                                Each edit is crafted to maintain the consistency and quality your brand represents, allowing you to confidently share exceptional results with clients.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">handshake</span>
                            <b class="why__reason">
                                A partner you can truly rely on
                            </b>
                            <div class="why__note">
                                We’re not just a vendor at Wanderlust Videos. We’re committed to your success, open in communication, and here to support you throughout the entire process.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="faq container">
                <div class="faq__head">
                    <div class="faq__inner">
                        <h2 class="faq__heading title">
                            Still have questions? No problem!
                        </h2>
                        <div class="faq__description">
                            Our team is here to answer questions, guide you through the process, and make sure you feel confident every step of the way.
                        </div>
                        <div class="faq__answers">
                            <a class="link" href="contacts.html">Get more answers</a>
                        </div>
                        <div class="faq__request">
                            <a class="button" href="contacts.html">
                                <span class="icon">call</span>
                                Request a call
                            </a>
                        </div>
                    </div>
                </div>
                <div class="faq__body">
                    <div class="accordion accordion--faq">
                        <!--
                            • Note "accordion--faq" option.
                            • All of .accordion__dropdown have style="display: none; by default
                        -->
                        <div class="accordion__body">
                            <div class="accordion__item">
                                <button class="accordion__handler" type="button">
                                    How are prices calculated?
                                </button>
                                <div class="accordion__dropdown" style="display: none;">
                                    <div class="wysiwyg wysiwyg--halved">
                                        <p>Getting started is easy. Just sign up for your account to access your dashboard, upload footage, editing preferences and stay connected throughout the editing process. It only takes a minute!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <button class="accordion__handler" type="button">
                                    What’s the difference between Wanderlust Lite and Pro?
                                </button>
                                <div class="accordion__dropdown" style="display: none;">
                                    <div class="wysiwyg wysiwyg--halved">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi deleniti doloribus eum expedita, in iusto magnam maiores molestiae non, repellat unde voluptate. Accusantium ad at consectetur</p>
                                        <p>Deserunt dolore eius error eum ex hic ipsum iusto molestias nam natus nemo nesciunt numquam odit, officia perferendis quam quasi rem rerum sed sequi sint tenetur totam veniam? Ab adipisci animi aut blanditiis</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <button class="accordion__handler" type="button">
                                    Can I ship you my hard drives?
                                </button>
                                <div class="accordion__dropdown" style="display: none;">
                                    <div class="wysiwyg wysiwyg--halved">
                                        <p>Consectetur corporis culpa cumque dicta distinctio dolor dolorem</p>
                                        <p>Dolores eveniet explicabo fugiat fugit illum incidunt ipsam, laboriosam laborum libero molestiae, mollitia necessitatibus nulla officia omnis quasi qui quidem quisquam recusandae repellendus repudiandae</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <button class="accordion__handler" type="button">
                                    I am just a beginner, can you help me?
                                </button>
                                <div class="accordion__dropdown" style="display: none;">
                                    <div class="wysiwyg wysiwyg--halved">
                                        <p>Consectetur corporis culpa cumque dicta distinctio dolor dolorem</p>
                                        <p>Dolores eveniet explicabo fugiat fugit illum incidunt ipsam, laboriosam laborum libero molestiae, mollitia necessitatibus nulla officia omnis quasi qui quidem quisquam recusandae repellendus repudiandae</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="footer__wrap container">

                </div>
            </footer>
        </div>

        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
