<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Wanderlust Videos</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
        <div class="browser">
            It appears that you’re using an outdated browser. For this site and most others to work correctly, you need to switch to a modern browser.
        </div>
        <![endif]-->

        <header class="header">
            <div class="header__wrap container container--wide">
                <div class="header__logo">
                    <a class="logo" href="homepage.html">
                        Wanderlust Videos
                    </a>
                </div>
                <button class="header__toggler" type="button">
                    <div class="header__burger">
                        <div class="icon">menu</div>
                    </div>
                    <div class="header__cross">
                        <div class="icon">close</div>
                    </div>
                    <div class="visuallyhidden">
                        Toggle menu
                    </div>
                </button>
                <div class="header__dropdown">
                    <nav class="header__nav">
                        <a class="header__link" href="why.html">Why Wanderlust</a>
                        <a class="header__link" href="about-us.html">About us</a>
                        <a class="header__link" href="portfolio.html">Portfolio</a>
                        <a class="header__link" href="how-it-works.html">How it works</a>
                        <a class="header__link" href="#">Pricing</a>
                        <a class="header__link" href="blog.html">Blog</a>
                        <a class="header__link" href="contact-us.html">Contact Us</a>
                    </nav>
                    <div class="header__actions">
                        <a class="button button--pink" href="#">
                            Login
                        </a>
                        <a class="button" href="contact-us.html">
                            <span class="icon">call</span>
                            Request a call
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="page">
            <div class="page__unique-part">
                <!-- note class ↓↓↓ pricing--lite ↓↓↓ -->
                <div class="pricing pricing--lite container">
                    <h1 class="pricing__heading title">
                        Pricing: Wanderlust Lite
                    </h1>
                    <div class="pricing__description wysiwyg">
                        We offer solutions to both professional videograpers and beginners and photographers. Are you on a budget? Don’t need extensive custom edits?
                    </div>
                    <div class="pricing__link">
                        <a class="button button--larger button--grey-outline" href="pricing-pro.html">
                            <span class="button__label">
                                <span class="desktop-only">Click here to see </span>Wanderlust Pro prices
                            </span>
                        </a>
                    </div>
                </div>
                <section class="portfolio-preview">
                    <div class="portfolio-preview__wrap container container--wide">
                        <h2 class="portfolio-preview__heading title">
                            Most Ordered Videos
                        </h2>
                        <div class="portfolio-preview__body">
                            <div class="splide splide--portfolio splide--inverted-colors">
                                <div class="splide__track">
                                    <div class="splide__list">
                                        <div class="splide__slide">
                                            <div class="project">
                                                <div class="project__preview">
                                                    <div class="youtube-preview">
                                                        <button class="youtube-preview__handler" type="button" data-yt-url="https://www.youtube.com/embed/VX8wA7s70ZE">
                                                            <img class="youtube-preview__image" src="../temp/portfolio/portfolio@2x.jpg" width="560" height="315" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="project__heading title title--smaller">
                                                    <a class="link link--inverted-text-alike" href="#">Highlight Film</a>
                                                </div>
                                                <div class="project__description">
                                                    Relive the magic with a cinematic highlight of the best moments of the wedding! Including: soundtracks, speeches, voiceovers and SFX.
                                                </div>
                                                <div class="project__details">
                                                    <div class="button button--white-outline">
                                                        From $620
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="splide__slide">
                                            <div class="project">
                                                <div class="project__preview">
                                                    <div class="youtube-preview">
                                                        <button class="youtube-preview__handler" type="button" data-yt-url="https://www.youtube.com/embed/VX8wA7s70ZE">
                                                            <img class="youtube-preview__image" src="../temp/portfolio/portfolio@2x.jpg" width="560" height="315" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="project__heading title title--smaller">
                                                    <a class="link link--inverted-text-alike" href="#">Feature Film</a>
                                                </div>
                                                <div class="project__description">
                                                    Extended cinematic experience of the wedding day film, includes the most important moments, but longer than the Highlight film. Including: soundtracks, speeches, voiceovers and SFX.
                                                </div>
                                                <div class="project__details">
                                                    <div class="button button--white-outline">
                                                        From $800
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="splide__slide">
                                            <div class="project">
                                                <div class="project__preview">
                                                    <div class="youtube-preview">
                                                        <button class="youtube-preview__handler" type="button" data-yt-url="https://www.youtube.com/embed/VX8wA7s70ZE">
                                                            <img class="youtube-preview__image" src="../temp/portfolio/portfolio@2x.jpg" width="560" height="315" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="project__heading title title--smaller">
                                                    <a class="link link--inverted-text-alike" href="#">Social Media Teaser</a>
                                                </div>
                                                <div class="project__description">
                                                    Short and dynamic film, showcasing the best shots of the best moments. Includes soundtracks, speeches, voiceovers, SFX. Perfect for different social media platforms.
                                                </div>
                                                <div class="project__details">
                                                    <div class="button button--white-outline">
                                                        From $180
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="splide__slide">
                                            <div class="project">
                                                <div class="project__preview">
                                                    <div class="youtube-preview">
                                                        <button class="youtube-preview__handler" type="button" data-yt-url="https://www.youtube.com/embed/VX8wA7s70ZE">
                                                            <img class="youtube-preview__image" src="../temp/portfolio/portfolio@2x.jpg" width="560" height="315" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="project__heading title title--smaller">
                                                    <a class="link link--inverted-text-alike" href="#">Highlight Film</a>
                                                </div>
                                                <div class="project__description">
                                                    Relive the magic with a cinematic highlight of the best moments of the wedding! Including: soundtracks, speeches, voiceovers and SFX.
                                                </div>
                                                <div class="project__details">
                                                    <div class="button button--white-outline">
                                                        From $620
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="splide__slide">
                                            <div class="project">
                                                <div class="project__preview">
                                                    <div class="youtube-preview">
                                                        <button class="youtube-preview__handler" type="button" data-yt-url="https://www.youtube.com/embed/VX8wA7s70ZE">
                                                            <img class="youtube-preview__image" src="../temp/portfolio/portfolio@2x.jpg" width="560" height="315" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="project__heading title title--smaller">
                                                    <a class="link link--inverted-text-alike" href="#">Feature Film</a>
                                                </div>
                                                <div class="project__description">
                                                    Extended cinematic experience of the wedding day film, includes the most important moments, but longer than the Highlight film. Including: soundtracks, speeches, voiceovers and SFX.
                                                </div>
                                                <div class="project__details">
                                                    <div class="button button--white-outline">
                                                        From $800
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="splide__slide">
                                            <div class="project">
                                                <div class="project__preview">
                                                    <div class="youtube-preview">
                                                        <button class="youtube-preview__handler" type="button" data-yt-url="https://www.youtube.com/embed/VX8wA7s70ZE">
                                                            <img class="youtube-preview__image" src="../temp/portfolio/portfolio@2x.jpg" width="560" height="315" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="project__heading title title--smaller">
                                                    <a class="link link--inverted-text-alike" href="#">Social Media Teaser</a>
                                                </div>
                                                <div class="project__description">
                                                    Short and dynamic film, showcasing the best shots of the best moments. Includes soundtracks, speeches, voiceovers, SFX. Perfect for different social media platforms.
                                                </div>
                                                <div class="project__details">
                                                    <div class="button button--white-outline">
                                                        From $180
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="splide__arrows">
                                    <button class="splide__arrow splide__arrow--prev">
                                        <span class="icon">west</span>
                                    </button>
                                    <div class="splide__pagination">

                                    </div>
                                    <button class="splide__arrow splide__arrow--next">
                                        <span class="icon">east</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- note class ↓↓↓↓ contains--inverted ↓↓↓↓ -->
                <div class="contains contains--inverted">
                    <div class="contains__wrap container">
                        <section class="contains__section">
                            <h2 class="contains__heading title">
                                All work product include
                            </h2>
                            <ul class="contains__list">
                                <li class="contains__item">For each order, we deliver both exported videos.</li>
                                <li class="contains__item">For each order, we deliver both exported videos and project files in the program of your choice — Adobe Premiere Pro, Final Cut Pro, or DaVinci Resolve.</li>
                                <li class="contains__item">For each order, we deliver both exported videos and project files in the program of your choice — Adobe Premiere Pro, Final Cut Pro, or DaVinci Resolve.</li>
                            </ul>
                        </section>
                        <section class="contains__section">
                            <h2 class="contains__heading title">
                                Add-ons for an additional fee
                            </h2>
                            <ul class="contains__list">
                                <li class="contains__item">For each order, we deliver both exported videos.</li>
                                <li class="contains__item">For each order, we deliver both exported videos and project files in the program of your choice — Adobe Premiere Pro, Final Cut Pro, or DaVinci Resolve.</li>
                                <li class="contains__item">For each order, we deliver both exported videos and project files in the program of your choice — Adobe Premiere Pro, Final Cut Pro, or DaVinci Resolve.</li>
                            </ul>
                        </section>
                    </div>
                </div>
                <div class="start container">
                    <h2 class="start__heading title">
                        Let’s get you started!
                    </h2>
                    <div class="start__body">
                        <div class="start__description">
                            Getting started is easy! With Wanderlust Videos, you’re just a few clicks away from offloading weeks of editing work and get top quality post-production services. Get started today and see how easy it really is.
                        </div>
                        <div class="start__actions">
                            <a class="button button--larger button--blue-outline-black-text" href="contact-us.html">Request a call</a>
                            <a class="button button--larger button--pink" href="#">Start a project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__footer">
                <footer class="footer">
                    <div class="footer__wrap container container--wide">
                        <div class="footer__summary">
                            <div class="footer__logo">
                                <a class="logo logo--inverted" href="homepage.html">
                                    Wanderlust Videos
                                </a>
                            </div>
                            <div class="footer__description">
                                For filmmakers who want quality, speed,
                                and peace of mind. We help you grow
                                your business, not your workload.
                            </div>
                            <div class="footer__social-media">
                                <a class="media media--facebook" href="#">Facebook</a>
                                <a class="media media--instagram" href="#">Instagram</a>
                                <a class="media media--linked-in" href="#">LinkedIn</a>
                                <a class="media media--youtube" href="#">YouTube</a>
                                <a class="media media--tiktok" href="#">TikTok</a>
                            </div>
                            <div class="footer__legalities">
                                <strong>Wanderlust Videos</strong><br>
                                25807 Westheimer Parkway #509.<br>
                                Katy, Texas 77494<br>
                                USA
                            </div>
                        </div>
                        <nav class="footer__navigation">
                            <div class="footer__column footer__column--services">
                                <a class="footer__main-link" href="#">
                                    Our Services
                                </a>
                                <div class="footer__sub-menu">
                                    <a class="footer__link" href="#">Highlight Film</a>
                                    <a class="footer__link" href="#">Feature Film</a>
                                    <a class="footer__link" href="#">Social media teaser</a>
                                    <a class="footer__link" href="#">Montage Video</a>
                                    <a class="footer__link" href="#">Ceremony clean edit</a>
                                    <a class="footer__link" href="#">Reception clean edit</a>
                                    <a class="footer__link" href="#">Archive Film</a>
                                    <a class="footer__link" href="#">Engagement Video</a>
                                    <a class="footer__link" href="#">Videos for vendors</a>
                                    <a class="footer__link" href="#">Viral Pack</a>
                                    <a class="footer__link" href="#">Filmmaker Reel</a>
                                    <a class="footer__link" href="#">Elopment Video</a>
                                    <a class="footer__link" href="#">Documentary full film</a>
                                    <a class="footer__link" href="#">Videos for couples</a>
                                </div>
                            </div>
                            <div class="footer__column">
                                <a class="footer__main-link" href="#">
                                    Resources
                                </a>
                                <div class="footer__sub-menu">
                                    <a class="footer__link" href="#">Blog</a>
                                    <a class="footer__link" href="#">Frequently Asked Questions</a>
                                    <a class="footer__link" href="#">Pricing</a>
                                    <a class="footer__link" href="#">Terms of Service</a>
                                    <a class="footer__link" href="#">Privacy Policy</a>
                                </div>
                            </div>
                            <div class="footer__column">
                                <a class="footer__main-link" href="about-us.html">
                                    Company
                                </a>
                                <div class="footer__sub-menu">
                                    <a class="footer__link" href="#">About Us</a>
                                    <a class="footer__link" href="#">Portfolio</a>
                                    <a class="footer__link" href="#">Contact</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </footer>
            </div>
        </div>

        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/splide/js/splide.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
