<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Why Wanderlust</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
        <div class="browser">
            It appears that you’re using an outdated browser. For this site and most others to work correctly, you need to switch to a modern browser.
        </div>
        <![endif]-->

        <div class="page">
            <header class="header">
                <div class="header__fixed-panel">

                </div>
            </header>
            <div class="why">
                <div class="why__wrapper container">
                    <h2 class="why__heading title">
                        The Wanderlust Videos Advantage
                    </h2>
                    <div class="why__description">
                        We offer solutions to both professional videograpers and beginners and photographers. Are you on a budget? Don’t need extensive custom edits? Wanderlust PRO is designed for filmmakers who value a higher level of customization, creativity, and support. If you’re used to the premium features and service that Wanderlust PRO provides, here’s why you should stick with it
                    </div>
                    <div class="why__list">
                        <div class="why__item">
                            <span class="why__item-icon icon">diversity_1</span>
                            <b class="why__reason">
                                Loyalty Club
                            </b>
                            <div class="why__note">
                                We craft emotional, cinematic wedding films couples will treasure, handling your footage with care, expertise, and a deep understanding of the wedding day.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">edit_square</span>
                            <b class="why__reason">
                                Customized Offers
                            </b>
                            <div class="why__note">
                                We help you focus on growing your business, improving services, or enjoying personal time while we handle the post-production.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">video_library</span>
                            <b class="why__reason">
                                Package Discount
                            </b>
                            <div class="why__note">
                                Busy season or sudden backlog? We’re here to help. We scale with you, delivering consistent, polished edits without extra hires.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">delivery_truck_speed</span>
                            <b class="why__reason">
                                Shipping Hard Drives
                            </b>
                            <div class="why__note">
                                We tailor each edit to match your style, reinforcing your brand’s identity and delivering results you’ll be proud to present to clients.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">cloud_upload</span>
                            <b class="why__reason">
                                WanderDrive
                            </b>
                            <div class="why__note">
                                Each edit is crafted to maintain the consistency and quality your brand represents, allowing you to confidently share exceptional results with clients.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">redeem</span>
                            <b class="why__reason">
                                WanderCoins
                            </b>
                            <div class="why__note">
                                We’re not just a vendor at Wanderlust Videos. We’re committed to your success, open in communication, and here to support you throughout the entire process.
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">electric_bolt</span>
                            <b class="why__reason">
                                Next-day Teasers
                            </b>
                            <div class="why__note">
                                We tailor each edit to match your style, reinforcing your brand’s identity and delivering results you’ll be proud to present to clients.
                            </div>
                        </div>
                        <div class="why__item why__item--action">
                            <b class="why__question title title--smaller">
                                Still have questions?
                            </b>
                            <span class="why__arrow icon">
                                south
                            </span>
                            <div class="why__request">
                                <a class="button button--larger button--grey-outline" href="contacts.html">
                                    <span class="button__icon icon">call</span>
                                    Request a call
                                </a>
                            </div>
                        </div>
                        <div class="why__item">
                            <span class="why__item-icon icon">bookmark_heart</span>
                            <b class="why__reason">
                                Preferred Editors
                            </b>
                            <div class="why__note">
                                Each edit is crafted to maintain the consistency and quality your brand represents, allowing you to confidently share exceptional results with clients.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rush-edits container">
                <div class="panel">
                    <div class="panel__body">
                        <h2 class="panel__heading title">
                            Introducing Rush edits
                        </h2>
                        <div class="panel__description">
                            At Wanderlust Videos, we help wedding filmmakers bring their stories to life through high-quality, customized video editing. Our experienced post-production team works behind the scenes to match your unique style, delivering polished, cinematic edits with fast turnaround times.
                        </div>
                    </div>
                    <div class="panel__icon icon">
                        electric_bolt
                    </div>
                </div>
            </div>
            <section class="difference container container--tiny">
                <h2 class="difference__heading title title--small">
                    What’s the difference between Lite and Pro?
                    Here is a quick snapshot
                </h2>
                <div class="difference__description">
                    We offer solutions to both professional videograpers and beginners and photographers. Are you on a budget? Don’t need extensive custom edits? Wanderlust Lite is designed for filmmakers who value a higher level of customization, creativity, and support. If you’re used to the premium features and service that Wanderlust PRO provides, here’s why you should stick with it
                </div>
                <div class="difference__body">
                    <table class="tariffs">
                        <thead class="tariffs__section tariffs__section--head">
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">
                                    <div class="tariffs__column-name">Features</div>
                                </th>
                                <th class="tariffs__cell tariffs__cell--pro">
                                    <div class="tariffs__column-name">
                                        Wanderlust
                                        <span class="type type--pro">Pro</span>
                                    </div>
                                    <div class="tariffs__description">
                                        For professionals looking for highly and custom video editing
                                    </div>
                                    <div class="tariffs__action">
                                        <a class="button button--smaller button--black" href="#">
                                            Get Started
                                        </a>
                                    </div>
                                </th>
                                <th class="tariffs__cell tariffs__cell--lite">
                                    <div class="tariffs__column-name">
                                        Wanderlust
                                        <span class="type type--lite">Lite</span>
                                    </div>
                                    <div class="tariffs__description">
                                        For professionals looking for highly and custom video editing
                                    </div>
                                    <div class="tariffs__action">
                                        <a class="button button--smaller button--grey" href="#">
                                            Get Started
                                        </a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tariffs__section tariffs__section--body">
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Style matching + color grading</th>
                                <td class="tariffs__cell tariffs__cell--pro">Advanced cinematic edits & color grading</td>
                                <td class="tariffs__cell tariffs__cell--lite">4 main style templates to choose for your videos</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Footage supported</th>
                                <td class="tariffs__cell tariffs__cell--pro">Up to 1 TB free</td>
                                <td class="tariffs__cell tariffs__cell--lite">Up to 250 GB free</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Number of revisions</th>
                                <td class="tariffs__cell tariffs__cell--pro"><span class="stretch-right">2 full rounds included. Unlimited for 1st&nbsp;project</span></td>
                                <td class="tariffs__cell tariffs__cell--lite">1 round included</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Quality Assurance</th>
                                <td class="tariffs__cell tariffs__cell--pro">Dedicated</td>
                                <td class="tariffs__cell tariffs__cell--lite">Standard control</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Project Manager</th>
                                <td class="tariffs__cell tariffs__cell--pro">Dedicated</td>
                                <td class="tariffs__cell tariffs__cell--lite">Human assistance + Automated platform</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Number of Cameras</th>
                                <td class="tariffs__cell tariffs__cell--pro">Unlimited</td>
                                <td class="tariffs__cell tariffs__cell--lite">Up to 2 camera</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Feedback Time</th>
                                <td class="tariffs__cell tariffs__cell--pro">14 days + 7 days per round</td>
                                <td class="tariffs__cell tariffs__cell--lite">7 days</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Files backup</th>
                                <td class="tariffs__cell tariffs__cell--pro">30 days</td>
                                <td class="tariffs__cell tariffs__cell--lite">10 days</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Support</th>
                                <td class="tariffs__cell tariffs__cell--pro">Premium including video call + phone + chat</td>
                                <td class="tariffs__cell tariffs__cell--lite">Chat and Email only</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Project Files</th>
                                <td class="tariffs__cell tariffs__cell--pro">Included</td>
                                <td class="tariffs__cell tariffs__cell--lite">Option to request project files as an extra feature</td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Loyalty Club</th>
                                <td class="tariffs__cell tariffs__cell--pro">Included</td>
                                <td class="tariffs__cell tariffs__cell--lite"><span class="not-available icon">close</span></td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Package Discount</th>
                                <td class="tariffs__cell tariffs__cell--pro">Included</td>
                                <td class="tariffs__cell tariffs__cell--lite"><span class="not-available icon">close</span></td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Multi-Day Wedding Footage</th>
                                <td class="tariffs__cell tariffs__cell--pro">Included</td>
                                <td class="tariffs__cell tariffs__cell--lite"><span class="not-available icon">close</span></td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Creative Effects</th>
                                <td class="tariffs__cell tariffs__cell--pro">Included</td>
                                <td class="tariffs__cell tariffs__cell--lite"><span class="not-available icon">close</span></td>
                            </tr>
                            <tr class="tariffs__row">
                                <th class="tariffs__cell tariffs__cell--feature">Hard Drive</th>
                                <td class="tariffs__cell tariffs__cell--pro">Yes</td>
                                <td class="tariffs__cell tariffs__cell--lite"><span class="not-available icon">close</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <footer class="footer">
                <div class="footer__wrap container">

                </div>
            </footer>
        </div>

        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
